{% extends "header.html" %}

{% block body %}

    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
<style>
#map { position:absolute; top:9%; bottom:5%; width:90%; left:5%; right:5%}
#form { position:absolute;  bottom:0.5%; top:95.5%; width:20%; right:40%; left:40%} 
</style>

<div id='map'></div>
<a id="form" href="/update/" class="btn btn-primary">Click to update victim status</a>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiYWRpdGh5YWthbWF0aCIsImEiOiJjam5sazVmcG8xZWplM3Z0YWoyOWtybGRlIn0.-xjjqOFJi5DieDNeAnHT5A';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [ 74.7977848,13.013009199999999], // starting position
    zoom: 3 // starting zoom
});

// Add geolocate control to the map.
map.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
        enableHighAccuracy: true
    },
    trackUserLocation: true
}));

  {% for row in variable %}
    var e = {"latlng":{"lat":{{ row["latitude"] | tojson }}, "lng": {{ row["longitude"] | tojson }} }};

    console.log(e)
	addMarker(e)

  {% endfor %}
.setHTML('<h3>Reykjavik Roasters</h3><p>A good coffee shop</p>');
function addMarker(e){
    var popup = new mapboxgl.Popup()
    var marker = new mapboxgl.Marker()
    .setLngLat([ e.latlng.lng, e.latlng.lat])
    .setPopup(popup)
.addTo(map);

}
    addMarker("gg");
</script>
{% endblock %}
