{% extends "header.html" %}

{% block body %}

<div class="col-md-4 offset-md-4">
    <h1>Login</h1>

    <form action="" class="form-group" method="post" >
        <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username" name="username" value = "{{request.form.username}}">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" value = "{{request.form.password}}">
        </div>
        <p>Don't have an Account? <a href="/register/"> Sign up Now</a></p>
        <div class="btn-group" role="group" aria-label="Basic example"></div>
            <input class="btn btn-primary" type="submit" value="Login as Reporter" name="action">
            <input class="btn btn-primary" type="submit" value="Login as Relief Worker" name="action">
            <!-- <button type="submit" class="btn btn-primary">Login as Reporter</button>
            <button type="submit" class="btn btn-primary">Login as Relief Worker</button> -->
        </div>
    </form>
</div>
{% endblock %}

