{% extends "header.html" %}

{% block body %}


		<!-- <div class="btn-group-vertical btn-group-lg">
				<button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-danger">Secondary</button>
				<button type="button" class="btn btn-success">Success</button>
		</div>  -->
			<div class="card text-center">
				<div class="card-body">
					<h5 class="card-title">Help Me!</h5>
					<p class="card-text">Find rescue people around you.</p>
					<a href="/helpme/" class="btn btn-primary"> Get Rescued</a>
				</div>
			</div>
			<div class="card text-center">
					<div class="card-body">
						<h5 class="card-title">Report and monitor your loved ones</h5>
						<p class="card-text">Report your loved ones whom you suspect are trapped in a disaster location. Also check whether they have been rescued!</p>
						<a href="/report/" class="btn btn-primary">Report and Check Status</a>
					</div>
				</div>
				<div class="card text-center">
						<div class="card-body">
							<h5 class="card-title">Rescue People</h5>
							<p class="card-text">Find disaster victims near you to rescue and update their status</p>
							<a href="/locate/" class="btn btn-primary">Rescue People</a>
						</div>
					</div>
				</div>
			
				<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
