{% extends "header.html" %}

{% block body %}
		 <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
<style>
#map { position:absolute; top:0; bottom:0; width:50%; left:50%}
</style>
<div>
<div class="container-fluid" float:left>
    <form action="" class="form-group" method="post" >
        <div class="form-group">
            <label for="InputName">Missing Person Name</label>
            <input type="text" class="form-control form-control-sm" id="InputName" aria-describedby="NameHelp" placeholder="Enter Victim Name" name="name"value="{{request.form.name}}">
        </div>

        <div class="form-group">
            <label for="InputLat">Missing Person Latitude</label>
            <input type="text" class="form-control form-control-sm" id="InputLat" aria-describedby="NameHelp" placeholder="Enter Latitude" name="latitude" value="{{request.form.latitude}}">
        </div>
        <div class="form-group">
                <label for="InputLong">Missing Person Longitude</label>
                <input type="text" class="form-control form-control-sm" id="InputLong" aria-describedby="NameHelp" placeholder="Enter Longitude" name="longitude" value="{{request.form.longitude}}">
        </div>
        <div class="form-group">
                <label for="InputyourMob">Your Mobile Number</label>
                <input type="text" class="form-control form-control-sm" id="InputyourMob" aria-describedby="NameHelp" placeholder="Enter Victim Mobile Number" name="mobile" value="{{request.form.mobile}}">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" name="action">
    </form>
    <a href="/check/" class="btn btn-primary">Click to check status</a>
</div>
<div id='map'></div>
<div>
<script>
	L.mapbox.accessToken = 'pk.eyJ1IjoiY2NhbnRleSIsImEiOiJjaWVsdDNubmEwMGU3czNtNDRyNjRpdTVqIn0.yFaW4Ty6VE3GHkrDvdbW6g';
var map = L.mapbox.map('map', 'mapbox.streets').setView([38.91338, -77.03236], 16);

	map.on('click', addMarker);

function addMarker(e){
  if (typeof circleMarker !== "undefined" ){
    map.removeLayer(circleMarker);
  }
  //add marker
  circleMarker = new  L.circle(e.latlng, 200, {
                color: 'red',
                fillColor: '#f03',
                fillOpacity: 0.5
            }).addTo(map);
}
</script>
<p> report missing person goes here</p>
{% endblock %}
