{% extends "header.html" %}

{% block body %}
<div class="container-fluid">
    <form action="" class="form-group" method="post" >
        <div class="form-group">
            <label for="InputName">Missing Person Name</label>
            <input type="text" class="form-control form-control-sm" id="InputName" aria-describedby="NameHelp" placeholder="Enter Victim Name" name="name"value="{{request.form.name}}">
        </div>

        <div class="form-group">
            <label for="InputLat">Missing Person Latitude</label>
            <input type="text" class="form-control form-control-sm" id="InputLat" aria-describedby="NameHelp" placeholder="Enter Latitude" name="latitude" value="{{request.form.latitude}}">
        </div>
        <div class="form-group">
                <label for="InputLong">Missing Person Longitude</label>
                <input type="text" class="form-control form-control-sm" id="InputLong" aria-describedby="NameHelp" placeholder="Enter Longitude" name="longitude" value="{{request.form.longitude}}">
        </div>
        <div class="form-group">
                <label for="InputyourMob">Your Mobile Number</label>
                <input type="text" class="form-control form-control-sm" id="InputyourMob" aria-describedby="NameHelp" placeholder="Enter Victim Mobile Number" name="mobile" value="{{request.form.mobile}}">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit" name="action">
    </form>
    <a href="/check/" class="btn btn-primary">Click to check status</a>

</div>

<p> report missing person goes here</p>
{% endblock %}